/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# Topbar
# Main Menu
# Footer
# Search Popup
# Sidemenu
# Banner
# Blog
	## Blog Details
	## Comments
# Page Header
# Contact
	## Contact Info
# Sidebar
# Mailchimp
# Brand
# Team
# Call To Action
# Gallery
# Error 404
# Video
# Testimonials
# FAQ
# Tour
	## Tour Sidebar
# Destinations
# Features
# Funfact
# Tour Search
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

/*



font-family: 'Inter', sans-serif;

*/

:root {
    --thm-font: 'Inter', sans-serif;
    --thm-base: #4c7ce3;
    --thm-base-rgb: 76, 124, 227;
    --thm-primary: #62cec5;
    --thm-primary-rgb: 98, 206, 197;
    --thm-black: #282f44;
    --thm-black-rgb: 40, 47, 68;
    --thm-gray: #717580;
    --border-radius: 4px;
}

body {
    font-family: var(--thm-font);
    color: var(--thm-gray);
    font-size: 16px;
    line-height: 26px;
}

button:focus {
    outline: none;
}

a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.block-title {
    margin-bottom: 60px;
    margin-top: -7px;
}

.block-title h4 {
    position: relative;
    font-size: 16px;
    color: var(--thm-primary);
    line-height: 26px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 7px;
}

.block-title h2 {
    font-size: 50px;
    color: var(--thm-black);
    line-height: 60px;
    font-weight: 700;
}


.thm-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: var(--thm-base);
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    padding: 17px 40px;
    border-radius: var(--border-radius);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.thm-btn:hover {
    background-color: var(--thm-black);
    color: #ffffff;
}

.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .show>.btn-light.dropdown-toggle {
    box-shadow: none !important;
    outline: none !important;
}

.bootstrap-select>.dropdown-toggle {
    box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.bootstrap-select .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    z-index: 991;
    border-radius: 0;
}

.bootstrap-select .dropdown-menu>li+li>a {
    border-top: 1px solid var(--thm-gray);
}

.bootstrap-select .dropdown-menu>li.selected>a {
    background: var(--thm-primary);
    color: #fff;
}

.bootstrap-select .dropdown-menu>li>a {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 20px;
    color: #ffffff;
    background: var(--thm-black);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bootstrap-select .dropdown-menu>li>a:hover {
    background: var(--thm-primary);
    color: #fff;
    cursor: pointer;
}

/* datepicker */

.datepicker.dropdown-menu {
    min-width: 17rem;
}

.datepicker table {
    width: 100%;
}

.post-pagination {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.post-pagination a {
    border-radius: 50%;
    background-color: #eff1f6;
    color: #9ca3a9;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.post-pagination a:hover {
    background-color: var(--thm-primary);
    color: #fff;
}

.post-pagination a.active {
    background-color: var(--thm-base);
    color: #fff;
    cursor: auto;
}

.post-pagination li+li {
    margin-left: 15px;
}

/* owl dots style */

.thm__owl-carousel .owl-dots {
    margin-top: 20px;
}

.thm__owl-carousel .owl-dots .owl-dot {
    outline: none;
}

.thm__owl-carousel .owl-dots .owl-dot span {
    margin: 0 2.5px;
    padding: 0;
    width: 14px;
    height: 14px;
    background-color: var(--thm-gray);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm__owl-carousel .owl-dots .owl-dot:hover span,
.thm__owl-carousel .owl-dots .owl-dot.active span {
    background-color: var(--thm-primary);
}

.thm__owl-carousel.light-dots .owl-dots .owl-dot span {
    background-color: #fff;
}

.thm__owl-carousel.light-dots .owl-dots .owl-dot:hover span,
.thm__owl-carousel.light-dots .owl-dots .owl-dot.active span {
    background-color: var(--thm-primary);
}

.preloader {
    position: fixed;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999991;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.preloader__image {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.scroll-to-top {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: var(--thm-primary);
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: none;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.scroll-to-top i {
    color: #ffffff;
    font-size: 18px;
    line-height: 45px;
}

.scroll-to-top:hover {
    background: var(--thm-black);
}

.scroll-to-top:hover i {
    color: #fff;
}

